[submodule "snippets/2392573"]
	path = snippets/2392573
	url = https://gitlab.com/album-app/album-workshop/snippets/2392573.git
[submodule "snippets/2392688"]
	path = snippets/2392688
	url = https://gitlab.com/album-app/album-workshop/snippets/2392688.git
[submodule "snippets/2392690"]
	path = snippets/2392690
	url = https://gitlab.com/album-app/album-workshop/snippets/2392690.git
[submodule "snippets/2392691"]
	path = snippets/2392691
	url = https://gitlab.com/album-app/album-workshop/snippets/2392691.git
[submodule "snippets/2392693"]
	path = snippets/2392693
	url = https://gitlab.com/album-app/album-workshop/snippets/2392693.git
[submodule "snippets/2392695"]
	path = snippets/2392695
	url = https://gitlab.com/album-app/album-workshop/snippets/2392695.git
[submodule "snippets/2392694"]
	path = snippets/2392694
	url = https://gitlab.com/album-app/album-workshop/snippets/2392694.git
[submodule "snippets/2392701"]
	path = snippets/2392701
	url = https://gitlab.com/album-app/album-workshop/snippets/2392701.git
[submodule "snippets/2392681"]
	path = snippets/2392681
	url = https://gitlab.com/album-app/album-workshop/snippets/2392681.git
[submodule "snippets/2392687"]
	path = snippets/2392687
	url = https://gitlab.com/album-app/album-workshop/snippets/2392687.git
[submodule "snippets/2392680"]
	path = snippets/2392680
	url = https://gitlab.com/album-app/album-workshop/snippets/2392680.git
