body {
    padding: 0;
    margin: 0;
}

li {
    margin: 20px 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.header {
    align-self: flex-start;
    display: flex;
    height: 100px;
}

.header-text {
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: stretch;
}

.header-text > a {
    padding: 10px;
    color: black;
}

.header-menu {
    display: flex;
    flex-direction: row;
}

.header-menu-item {
    display: flex;
    font-size: 150%;
    align-items: center;
    padding: 10px;
    margin: 10px 10px 0 10px;
    text-align: left;
}

.header-logo {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 10px;
    justify-content: center;
    width: 200px;
    height: 100px;
}

.header-title {
    font-size: 250%;
}

.header-subtitle {
}

.logo {
    margin: 10px;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    width: 1100px;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 20px;
    margin: 20px 0;
}

.doc-box {
    padding: 10px;
}

.meta-box {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px 0px 5px;
    margin: 10px 0;
}

.meta-name {
    flex: 1;
    padding: 10px;
    margin: 10px 0;
}

.meta-value {
    flex: 3;
    padding: 10px 10px 10px 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.doc-box {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px 5px 10px 5px;
    line-height: 1.5;
}

.doc-box-title {
    font-weight: bold;
    padding: 20px;
}
.doc-box-content {
    padding: 20px;
    margin-top: 2px;
    margin-left: -20px;
    margin-right: -20px;
}

.clear {
    clear: both;
}

.break {
  flex-basis: 100%;
  height: 0;
}


.badges {
    display: flex;
    flex-wrap: wrap;
}

.badges > * {
    margin: 4px;
    background: #f1f1f2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.badges span {
    color: black;
    font-family: 'Ubuntu mono';
    padding: 2px 5px;
    font-size: 80%;
}


.solution-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.solution-list li {
    margin: 0 0 15px 0;
    padding: 0px;
}

.solution-list a {
    background: none;
    padding: 0px;
    display: block;
}

.solution-preview {
    display: flex;
}

.solution-preview-text > div {
    margin: 2px 0;
}

.solution-preview-text {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.solution-preview-guide {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.solution-preview-image {
    flex: 1;
}

.solution-preview-guide {
    flex: 2;
}

.solution-cover {
    overflow: hidden;
    margin: 10px 0;
}

.small-screen-spacer {
    display: none;
}

.tags {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tags > * {
    margin: 0 10px 0 0;
}

.download-items {
    display: flex;
    flex-wrap: wrap;
}

.os-specific-download {
    padding: 10px;
    flex: 1;
    margin: 10px;
    display: flex;
    align-items: center;
    min-width: 300px;
    max-width: 400px;
}

.os-specific-download > * {
    flex: 2;
    font-size: 95%;
    font-weight: normal;
}

.os-specific-download .logo {
    flex: 1;
    width: 60px;
    height: 60px;
}

.gui-button {
    display: inline-block;
    padding: 2px 5px;
    margin: 2px;
}

.citation-doi, .tag {
    padding: 10px;
    display: inline-block;
}

.citation-doi {
    margin-right: 20px;
}

.snippet {

}

.snippet-link {
    display: block;
    margin: 10px 0px;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
}

.snippet-link h2 {
    margin: 10px 0;
}

.feedback {
    padding: 20px;
    line-height: 1.5;
    margin-top: 50px;
    font-size: 110%;
    border-radius: 5px;
    background: #212124;
    font-weight: normal;
    color: white;
}

.feedback b {
    color: #aaffaa;
    font-size: 130%;
}

.line {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.line .intro-box {
    flex: 6;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.line > div {
    margin: 10px;
    padding: 10px;
}

.line > .dummy {
    flex: 1;
}

.line > div, .line > .flex-middle {
    flex: 3;
}

.line > div, .line > .flex-more {
    flex: 6;
}

.coming-soon {
    opacity: 0.6;
}

#sharing_via_catalogs {
    margin-left: 100px;
}

#install_gui {
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    padding-left: 50px;
    text-align: right;
}

#installer-line .dummy {
    flex:10;
}

#install_commandline {
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    padding-right: 50px;
}

#install_commandline, #install_gui {
    min-width: 100px;
}

#browse_catalogs {
    margin-right: 50px;
}

#share_solutions {
    margin-left: 50px;
}

.center {
    text-align: center;
}

@media (max-width: 1360px) {
    .main {
        width: 100%;
    }

    .header-menu {
        flex-direction: row;
    }

    .header-menu-item {
        height: 90px;
    }

    .header {
        height: inherit;
        align-self: stretch;
    }

    .header-text {
        text-align: right;
    }

    .header-logo {
        border: 0;
    }

    .small-screen-spacer {
        display: block;
        flex: 1;
    }
}